<%- include("partials/header.ejs") %>
<main class="main-container">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-9 col-sm-12 middle-container">
                <% if (locals.sitePostoj && locals.sitePostoj.length >= 1){ %>
                            <h1 class="MainPostTitle"><%= locals.sitePostoj[0].naslovPost %></h1>
                            <p class="MainPostContent"><%- locals.sitePostoj[0].kontentPost.replace(/\r?\n/g, '<br>') %></p>
                            <p class="MainPostFooter">Postirano od <%= locals.sitePostoj[0].imePost %> na 
                                                      <%= locals.sitePostoj[0].datumPost %> vo 
                                                      <%= locals.sitePostoj[0].vremePost %>
                            </p>
                <% } else { %>
                    <h1>Nemat postoj da se prikazet</h1>
                <% } %>
                </div>

      <!-- Right Container (Smaller) -->
                <div class=" col-lg-3 col-sm-12 right-container">
                    <div class="naslovArea">
                        <h2 id="RecentPostTitle">Posledne postove</h2>
                    </div>
                    <div class="postsArea">
                        <% if (locals.sitePostoj && locals.sitePostoj.length >= 1){ %>
                            <% locals.sitePostoj.forEach(post =>{ %>
                                    <div class="recentPostBlocks">
                                                    <h3 class="RecentPostNaslov"><%= post.naslovPost %></h3>
                                            <% if (post.kontentPost.length>200) { %>
                                                    <p class="RecentPostContent" data-unsliced="<%= post.kontentPost %>">
                                                    <%= post.kontentPost.slice(0,200) + "..." %></p>
                                            <% } else { %>
                                                    <p class="RecentPostContent" data-unsliced="<%= post.kontentPost %>">
                                                    <%= post.kontentPost %></p>
                                            <% } %>
                                                    <p class="RecentPostByKoj">Postirano od <%= post.imePost %> na 
                                                    <%= post.datumPost %> vo 
                                                    <%= post.vremeZaDisplay %> </p>
                                    </div>
                            <% }) %>
                            <% }else { %>
                                    <h3>Nemat postoj ushte.</h3>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
</main>
    <%- include("partials/footer.ejs") %>